<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="menu.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar">
        <ul class="links-container">
            <!-- <li class="link-items"><a href="#" class="links">Login</a></li> -->
            <li class="link-items"><a href="#" class="links">Menu</a></li>
            <li class="link-items"><a href="#" class="links">Order</a></li>
            <li class="link-items"><a href="#" class="links">Restaurants</a></li>
            <li class="link-items"><a href="#" class="links">Track Order</a></li>
        </ul>

        <!-- searchbox -->
        <div class="nav-extras">
            <div class="search">
                <input type="text" class="search-box" placeholder="Search Restaurants,Cuisine">
                <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <!-- cart -->
            <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <div class="user-profile">
                <div class="dropdown">
                    <button class="dropbtn profile-btn">
                        <i class="fa-solid fa-user usericon"></i>
                    </button>
                    <div class="dropdown-content profile-dropdown">
                        <a href="#">Profile</a>
                        <a href="#">Settings</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="Menu">
        <div id="menu-header">
            <h1 id="section">Menu</h1>
            <input type="text" id="searchBox" placeholder="Search for a dish..." onkeyup="filterMenu()">
        </div>
       <!-- row1 -->
    <div class="menu_row">
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/veg biryani.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Veg biryani</h3>
                <h4>120rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/chicken biryani.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Chicken biryani</h3>
                <h4>150rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/egg biryani.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Egg biryani</h3>
                <h4>140rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/dum biryani.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Dum biryani</h3>
                <h4>170rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
    </div>

    <!-- row2 -->
    <div class="menu_row">
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/chicken masala.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Chicken masala</h3>
                <h4>130rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/nonveg thali.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Nonveg thali</h3>
                <h4>350rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/chicken kabab.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Chicken kabab</h3>
                <h4>120rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/tandoori chicken.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Tandoori chicken</h3>
                <h4>130rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
    </div>

    <!-- row3 -->
    <div class="menu_row">
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/mutton curry.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Mutton curry</h3>
                <h4>150rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/mutton korma.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Mutton korma</h3>
                <h4>130rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/butter chicken.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Butter chicken</h3>
                <h4>150rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/daal gosht.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Dal gosht</h3>
                <h4>150rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
    </div>

    
    <!-- row4 -->
    <div class="menu_row">
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/tandoori roti.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Tandoori roti</h3>
                <h4>30rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/butter naan.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Butten naan</h3>
                <h4>50rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/jeera rice.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Jeera rice</h3>
                <h4>80rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/gulabjamun.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Gulabjamun</h3>
                <h4>50rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
    </div>

    <!-- Add more rows as needed -->
</div>

<script src="menu.js"></script>
</body>
</html>
