<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="menu.css">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar">
        <ul class="links-container">
            <!-- <li class="link-items"><a href="#" class="links">Login</a></li> -->
            <li class="link-items"><a href="#" class="links">Menu</a></li>
            <li class="link-items"><a href="#" class="links">Order</a></li>
            <li class="link-items"><a href="#" class="links">Restaurants</a></li>
            <li class="link-items"><a href="#" class="links">Track Order</a></li>
        </ul>

        <!-- searchbox -->
        <div class="nav-extras">
            <div class="search">
                <input type="text" class="search-box" placeholder="Search Restaurants,Cuisine">
                <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <!-- cart -->
            <a href="#" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <div class="user-profile">
                <div class="dropdown">
                    <button class="dropbtn profile-btn">
                        <i class="fa-solid fa-user usericon"></i>
                    </button>
                    <div class="dropdown-content profile-dropdown">
                        <a href="#">Profile</a>
                        <a href="#">Settings</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="Menu">
        <div id="menu-header">
            <h1 id="section">Menu</h1>
            <input type="text" id="searchBox" placeholder="Search for a dish..." onkeyup="filterMenu()">
        </div>
       <!-- row1 -->
    <div class="menu_row">
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/spaghetti.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Spaghetti</h3>
                <h4>129rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/alfredo pasta.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Alfredo pasta</h3>
                <h4>149rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/Margherita pizza.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Margherita Pizza</h3>
                <h4>149rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/paneer pizza.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Paneer pizza</h3>
                <h4>149rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
    </div>

    <!-- row2 -->
    <div class="menu_row">
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/Aloo Tikki Burger.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Aloo Tikki burger</h3>
                <h4>69rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/cheese burger.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Cheese burger</h3>
                <h4>89rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/salted fries.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Salted fries</h3>
                <h4>59rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/perri perri fries.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Perri perri fries</h3>
                <h4>79rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
    </div>

    <!-- row3 -->
    <div class="menu_row">
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/Veg sandwich.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Veg sandwich</h3>
                <h4>70rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/French Toaste.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">French toast</h3>
                <h4>99rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/Garlic bread.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Garlic bread</h3>
                <h4>119rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
        <div class="box">
            <div class="image" onmouseover="highlightItem(this)" onmouseout="unhighlightItem(this)">
                <img src="images/cold coffee.jpg" alt="Error">
            </div>
            <div>
                <h3 class="dish-name">Cold coffee</h3>
                <h4>99rs</h4>
                <button class="add-to-cart">Add +</button>
            </div>
        </div>
    </div>

    <!-- Add more rows as needed -->
</div>

<script src="menu.js"></script>
</body>
</html>
